In [1]:
from bs4 import BeautifulSoup
import requests
url = 'https://www.iea.org/oilmarketreport/reports/'
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html.parser')
#soup.prettify()
#table = soup.find("table")
#print(table)
links = []
for href in soup.find_all(class_='omrlist'):
    #print(href)
    links.append(href.find('a').get('href'))
print(links)

['/oilmarketreport/reports/2018/', '/oilmarketreport/reports/2017/', '/oilmarketreport/reports/2016/', '/oilmarketreport/reports/2015/', '/oilmarketreport/reports/2014/', '/oilmarketreport/reports/2013/', '/oilmarketreport/reports/2012/', '/oilmarketreport/reports/2011/', '/oilmarketreport/reports/2010/', '/oilmarketreport/reports/2009/', '/oilmarketreport/reports/2008/', '/oilmarketreport/reports/2007/', '/oilmarketreport/reports/archives/?year=2006', '/oilmarketreport/reports/archives/?year=2005', '/oilmarketreport/reports/archives/?year=2004', '/oilmarketreport/reports/archives/?year=2003', '/oilmarketreport/reports/archives/?year=2002', '/oilmarketreport/reports/archives/?year=2001', '/oilmarketreport/reports/archives/?year=2000', '/oilmarketreport/reports/archives/?year=1999', '/oilmarketreport/reports/archives/?year=1998', '/oilmarketreport/reports/archives/?year=1997', '/oilmarketreport/reports/archives/?year=1996', '/oilmarketreport/reports/archives/?year=1995', '/oilmarketreport/reports/archives/?year=1994', '/oilmarketreport/reports/archives/?year=1993', '/oilmarketreport/reports/archives/?year=1992', '/oilmarketreport/reports/archives/?year=1991', '/oilmarketreport/reports/archives/?year=1990']

In [2]:
links[11]

'/oilmarketreport/reports/2007/'

In [3]:
import pandas as pd
#CREATE GENERIC DATAFRAME
df = {'account': ['Alpha', 'Beta', 'Gamma', 'Epsilon'],
      'Type': ['red','blue','red','blue'],
         'Jan': [150, 200, 50, 40],
         'Feb': [200, 210, 90, 30],
         'Mar': [140, 215, 95, 60],
         'Apr': [150, 190, 75, 20]}
df = pd.DataFrame.from_dict(df)

#filter for blue types only
df_blue = df[df['Type'] == 'blue']

#get averages for blue types
blue_series = df_blue.mean()

#create a dataframe for blue types
blue_df = blue_series.to_frame()
blue_df = blue_df.rename(columns = {0:'blue'})

#repeat above for red types
df_red = df[df['Type'] == 'red']
red_series = df_red.mean()
red_df = red_series.to_frame()
red_df = red_df.rename(columns = {0:'red'})

#CONCATENATE BLUE AND RED DATAFRAMES
final_df = pd.concat([blue_df, red_df],axis=1)

In [4]:
df

   account  Type  Jan  Feb  Mar  Apr
0    Alpha   red  150  200  140  150
1     Beta  blue  200  210  215  190
2    Gamma   red   50   90   95   75
3  Epsilon  blue   40   30   60   20

In [5]:
means_df = pd.DataFrame()
for color in ['red', 'blue']:
    dff = df[df['Type']==color]
    means = dff.mean(0).to_frame().rename(columns={0:color})
    means_df = pd.concat([means_df, means], 1)
print(means_df)

       red   blue
Jan  100.0  120.0
Feb  145.0  120.0
Mar  117.5  137.5
Apr  112.5  105.0

In [6]:
df.groupby('Type').mean().T

Type   blue    red
Jan   120.0  100.0
Feb   120.0  145.0
Mar   137.5  117.5
Apr   105.0  112.5