https://stackoverflow.com/questions/53724773/pandas-extracting-value-from-a-key

In [5]:
di = {'attributes': {'type': 'Case', 'url': '/services/data/v38.0/sobjects/Case/3456423456543'}, 'Ticket': '25432'}

In [6]:
di

{'attributes': {'type': 'Case',
  'url': '/services/data/v38.0/sobjects/Case/3456423456543'},
 'Ticket': '25432'}

In [7]:
di['Ticket']

'25432'

In [8]:
di['attributes']['type']

'Case'

In [1]:
import pandas as pd
a = [1,1,1,2,2,3,3,3,3,4,4,5,5,5]
b = ["pi","pi","k","J","pi","pi","k","k","J","pi","k","pi","k","pi"]
bin0 = [0,0,0,1,0,0,1,0,0,0,1,1,0,0]
bin1 = [1,1,1,0,1,0,0,1,1,0,0,0,1,0]
bin2 = [0,0,0,0,0,1,0,0,0,1,0,0,0,1]

df_test = pd.DataFrame({"a": a, "b": b,"bin0": bin0,"bin1": bin1,"bin2": 
bin2})

In [2]:
df_test

    a   b  bin0  bin1  bin2
0   1  pi     0     1     0
1   1  pi     0     1     0
2   1   k     0     1     0
3   2   J     1     0     0
4   2  pi     0     1     0
5   3  pi     0     0     1
6   3   k     1     0     0
7   3   k     0     1     0
8   3   J     0     1     0
9   4  pi     0     0     1
10  4   k     1     0     0
11  5  pi     1     0     0
12  5   k     0     1     0
13  5  pi     0     0     1

In [24]:
import sys 
from collections import Counter

thismodule = sys.modules[__name__]

df1 = df_test.groupby(['a', 'b']).agg({'b':'size', 'bin0':'sum', 
'bin1':'sum', 'bin2':'sum'}).rename(columns={'b': 'cant', 'bin0': 'b0', 
'bin1': 'b1', 'bin2': 'b2'}).reset_index(drop = False)


for evt in df1.a.unique():
    name1 = 'dict_'+str(evt)
    name2 = 'col_'+str(evt)
    df_ = df1
    df_ = df_[df_.a==evt].drop('a', 1).set_index('b').to_dict('index')
    col_ = Counter(df_)
    setattr(thismodule, name1, df_)
    setattr(thismodule, name2, col_)

In [30]:
dict_1

{'k': {'cant': 1, 'b0': 0, 'b1': 1, 'b2': 0},
 'pi': {'cant': 2, 'b0': 0, 'b1': 2, 'b2': 0}}

In [25]:
col_1

Counter({'k': {'cant': 1, 'b0': 0, 'b1': 1, 'b2': 0},
         'pi': {'cant': 2, 'b0': 0, 'b1': 2, 'b2': 0}})

In [26]:
col_2

Counter({'J': {'cant': 1, 'b0': 1, 'b1': 0, 'b2': 0},
         'pi': {'cant': 1, 'b0': 0, 'b1': 1, 'b2': 0}})

In [27]:
col_1['k']['b0']+col_2['J']['b0']

1

In [36]:
df_test.groupby(['a', 'b']).sum().reset_index().groupby('b').sum()

     a  bin0  bin1  bin2
b
J    5     1     1     0
k   13     2     3     0
pi  15     1     3     3