https://stackoverflow.com/questions/54051495/cross-operations-between-two-datafarames

In [3]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame(10*(2+np.random.randn(500, 3)), columns=list('ABC'))
df2 = pd.DataFrame(10*(2+np.random.randn(500, 3)), columns=list('CDA'))
df1.drop(df1.index[[1, 4, 284, 354, 498]], inplace=True)
df2.drop(df2.index[[0, 98, 159]], inplace=True)
df1.loc[2, 'B'] = np.nan
df1.loc[5, 'C'] = np.nan
df1.loc[3, 'A'] = np.nan
df2.loc[5, 'C'] = np.nan
df2.loc[1, 'D'] = np.nan
df2.loc[2, 'A'] = np.nan

In [ ]:
df1.head()

In [ ]:
df2.head()

In [4]:
# Merge the dataframes
merged_df = df1.merge(df2, right_index = True, left_index = True, how = 'outer')
# Create dataframes for each formula
simple_ret_df = pd.DataFrame(index = merged_df.index) # for (1 - df1 / df2)
log_ret_df    = pd.DataFrame(index = merged_df.index) # for ln(df1 / df2)
for column in merged_df.columns:
    # Get initial letter from the column names
    i = column[0]
    # filter only the columns that start with the same letter
    df_test = merged_df[merged_df.columns[merged_df.columns.str.startswith(i)]]
    #If only one column, add that to the dataframes
    if df_test.shape[1] == 1:
        simple_ret_df = simple_ret_df.merge(df_test, right_index = True, left_index = True, how = 'outer')
        
        log_ret_df = log_ret_df.merge(df_test, right_index = True, left_index = True, how = 'outer')
    #If two columns do the calculations
    else:
        simple_ret_df.loc[:,i] = np.where((df_test[df_test.columns[0]].isin([np.nan, 0]))|(df_test[df_test.columns[1]].isin([np.nan, 0])), 
        np.nan,  (1- df_test[df_test.columns[0]]) / df_test[df_test.columns[1]])
        
        log_ret_df.loc[:,i] = np.where((df_test[df_test.columns[0]].isin([np.nan, 0]))|(df_test[df_test.columns[1]].isin([np.nan, 0])), 
        np.nan,  np.log(df_test[df_test.columns[0]] / df_test[df_test.columns[1]]))

#Adjust the names of the columns
simple_ret_df.columns = simple_ret_df.columns.str[0]
log_ret_df.columns    = log_ret_df.columns.str[0]

print('simple_ret_df.head(6)', '\n\n',simple_ret_df.head(6), '\n\n', 'log_ret_df.head(6)', '\n', log_ret_df.head(6))

simple_ret_df.head(6)

           A          B         C          D
0       NaN  25.050572       NaN        NaN
1       NaN        NaN       NaN        NaN
2       NaN        NaN -0.281022  16.132097
3       NaN  13.892110 -1.093082  10.501839
4       NaN        NaN       NaN  16.469587
5 -0.460311  26.418978       NaN  22.351900

 log_ret_df.head(6)
           A          B         C          D
0       NaN  25.050572       NaN        NaN
1       NaN        NaN       NaN        NaN
2       NaN        NaN -1.164827  16.132097
3       NaN  13.892110  0.149095  10.501839
4       NaN        NaN       NaN  16.469587
5 -0.712804  26.418978       NaN  22.351900

/Users/jpinzon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: RuntimeWarning: invalid value encountered in log