In [1]:
import pandas as pd
import numpy as np

https://stackoverflow.com/questions/55430700/using-python-or-pandas-how-to-sum-excel-columns-which-stores-data-of-login-time/55431724#55431724

id        time1        time2    
A          01:00:00    01:00:00
B          00:30:00    00:20:00
C          00:40:00    00:30:00
D          00:20:00    00:40:00
E          00:30:00    00:20:00

In [3]:
df = pd.read_clipboard()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
id       5 non-null object
time1    5 non-null object
time2    5 non-null object
dtypes: object(3)
memory usage: 200.0+ bytes

In [8]:
import datetime
def make_delta(entry):
    h, m, s = entry.split(':')
    return datetime.timedelta(hours=int(h), minutes=int(m), seconds=int(s))

df2 = df.set_index('id').applymap(lambda entry: make_delta(entry))

df2['total-time'] = df2['time1'] + df2['time2']
df2.reset_index(drop = False)

  id    time1    time2 total-time
0  A 01:00:00 01:00:00   02:00:00
1  B 00:30:00 00:20:00   00:50:00
2  C 00:40:00 00:30:00   01:10:00
3  D 00:20:00 00:40:00   01:00:00
4  E 00:30:00 00:20:00   00:50:00