In [6]:
# FROM https://stackoverflow.com/questions/53556428/sorting-pandas-dataframe-vectorized-way/53556651#53556651
import pandas as pd
import numpy as np

In [4]:
df_input = pd.DataFrame([[1,2,3,4,5], [2,1,4,7,6], [5,6,3,7,np.nan], [np.nan,np.nan,np.nan,np.nan]], columns=["A", "B","C","D","E"])
#df_input = df_input.fillna(0)
df_input

     A    B    C    D    E
0  1.0  2.0  3.0  4.0  5.0
1  2.0  1.0  4.0  7.0  6.0
2  5.0  6.0  3.0  7.0  NaN
3  NaN  NaN  NaN  NaN  NaN

In [9]:
df_input.rank(axis=1)

     A    B    C    D    E
0  1.0  2.0  3.0  4.0  5.0
1  2.0  1.0  3.0  5.0  4.0
2  2.0  3.0  1.0  4.0  NaN
3  NaN  NaN  NaN  NaN  NaN

In [22]:
df_input.rank(axis=1).median(1)

0    3.0
1    3.0
2    2.5
3    NaN
dtype: float64

In [35]:
df2 = df_input.rank()#copy()
df2.loc[:,'ranks_'] = df2.rank(axis=1).median(1)
display(df2)
df2[:] = np.where(df2.drop('ranks_',1).isna()| (df2.drop('ranks_',1) == df2.ranks_, 0),
                           np.where(df2.drop('ranks_',1) > df2.drop('ranks_',1).shape[1] / 2, 1, -1))
df2

     A    B    C    D    E  ranks_
0  1.0  2.0  1.5  1.0  1.0    2.00
1  2.0  1.0  3.0  2.5  2.0    2.50
2  3.0  3.0  1.5  2.5  NaN    2.75
3  NaN  NaN  NaN  NaN  NaN     NaN

ValueError: Unable to coerce to Series, length must be 5: given 2

In [8]:
df_output=pd.DataFrame([[-1,-1,0,1,1],[-1,-1,0,1,1],[-1,1,-1,1,0],[0,0,0,0,0]],columns=["A", "B","C","D","E"])
df_output

   A  B  C  D  E
0 -1 -1  0  1  1
1 -1 -1  0  1  1
2 -1  1 -1  1  0
3  0  0  0  0  0