https://stackoverflow.com/questions/54091611/pandas-dataframe-to-specific-format-text-file

In [1]:
ctn   skuId
0  57    2
1  57    5
2  57    4
3  58    1
4  58    2
5  58    3
6  59    5
7  59    2
8  59    8
9  59    4

SyntaxError: invalid syntax (<ipython-input-1-8d448c4ef11e>, line 1)

In [2]:
import pandas as pd
df = pd.read_clipboard()

In [3]:
df

   ctn  skuId
0   57      2
1   57      5
2   57      4
3   58      1
4   58      2
5   58      3
6   59      5
7   59      2
8   59      8
9   59      4

In [9]:
df.reset_index().pivot('index', 'ctn', 'skuId')

ctn     57   58   59
index
0      2.0  NaN  NaN
1      5.0  NaN  NaN
2      4.0  NaN  NaN
3      NaN  1.0  NaN
4      NaN  2.0  NaN
5      NaN  3.0  NaN
6      NaN  NaN  5.0
7      NaN  NaN  2.0
8      NaN  NaN  8.0
9      NaN  NaN  4.0

In [17]:
df.groupby('ctn').skuId.count()

ctn
57    3
58    3
59    4
Name: skuId, dtype: int64

In [21]:
df

   ctn  skuId
0   57      2
1   57      5
2   57      4
3   58      1
4   58      2
5   58      3
6   59      5
7   59      2
8   59      8
9   59      4

In [42]:
for value in df.ctn.unique():
    list_=[df[df.ctn==value].skuId.unique()]
    list_.replace(' ' , ',')
    print(list_)

AttributeError: 'list' object has no attribute 'replace'