Swifter.

https://stackoverflow.com/questions/55435380/how-to-fix-level-must-be-same-as-name-none-error-in-pandas-apply

In [2]:
import pandas as pd
import swifter

In [3]:
df = pd.DataFrame({'word': ["abc","abd cds" ,"abc cds fgh"], 'freq': [5, 6, 7],"doc":["666","5555","333"]})
df

          word  freq   doc
0          abc     5   666
1      abd cds     6  5555
2  abc cds fgh     7   333

In [4]:
def alert(c):
    if c.count(" ") == 0:
        return 'ngram1'
    elif c.count(" ") == 1:
        return 'ngram2'
    elif c.count(" ")==2:
        return 'ngram3'
    else:
        return 'NotAvailable'
def count_(c):
    return c.count(" ")

df['ngram'] = df["word"].apply(alert)
## These do not work 
#df['ngram'] = df["word"].swifter.apply(lambda x: alert(x))
#df['ngram'] = df["freq"].swifter.apply(lambda x: alert(x))
## Nor this one:
#df.apply(lambda x: df['word'][x].count(" "))
df

          word  freq   doc   ngram
0          abc     5   666  ngram1
1      abd cds     6  5555  ngram2
2  abc cds fgh     7   333  ngram3

In [5]:
import string 
df['ngram'] = df["word"].apply(alert)
def alert_1(s):
    ng = sum([i.strip(string.punctuation).isalpha() for i in s.split()])
    if ng == 1:
        return 'ngram1'
    elif ng == 2:
        return 'ngram2'
    elif ng ==3:
        return 'ngram3'
    else:
        return 'NotAvailable'
    return sum([i.strip(string.punctuation).isalpha() for i in s.split()])

df.loc[:,"ngram_2"] = df["word"].swifter.apply(alert_1)
df

Pandas Apply: 100%|██████████| 3/3 [00:00<00:00, 1201.46it/s]

          word  freq   doc   ngram ngram_2
0          abc     5   666  ngram1  ngram1
1      abd cds     6  5555  ngram2  ngram2
2  abc cds fgh     7   333  ngram3  ngram3