https://stackoverflow.com/questions/53980900/merge-multiindex-dataframes-on-one-level

In [2]:
import pandas as pd

In [5]:
dates1 = pd.to_datetime(['1/11/2016','5/11/2016','9/11/2016'])
dates2 = pd.to_datetime(['1/11/2016','4/11/2016','8/11/2016','9/11/2016'])
v1 = pd.MultiIndex.from_arrays([[112,112,112], dates1])
v2 = pd.MultiIndex.from_arrays([[113,113,113, 113], dates2])
df1 = pd.DataFrame({'active1':[3,3,4],'active2':[5,1,10]}, index = v1)
df2 = pd.DataFrame({'active1':[1,22,12,5],'active2':[5,1,12,13]}, index = v2)

print(df1, '\n', df2)

                active1  active2
112 2016-01-11        3        5
    2016-05-11        3        1
    2016-09-11        4       10
                 active1  active2
113 2016-01-11        1        5
    2016-04-11       22        1
    2016-08-11       12       12
    2016-09-11        5       13

In [18]:
(df2.reset_index(0, drop=True)
    .combine_first(df1.reset_index(0, drop=True))
    .assign(l0 = df1.index[0][0])
    .set_index('l0', append=True)
    .swaplevel(0,1)
    .rename_axis([None, None], 0))

                active1  active2
112 2016-01-11      1.0      5.0
    2016-04-11     22.0      1.0
    2016-05-11      3.0      1.0
    2016-08-11     12.0     12.0
    2016-09-11      5.0     13.0

In [17]:
(df2.reset_index(0, drop=True)
    .combine_first(df1.reset_index(0, drop=True)))

            active1  active2
2016-01-11      1.0      5.0
2016-04-11     22.0      1.0
2016-05-11      3.0      1.0
2016-08-11     12.0     12.0
2016-09-11      5.0     13.0

In [14]:
df2.reset_index(0, drop=False)

            level_0  active1  active2
2016-01-11      113        1        5
2016-04-11      113       22        1
2016-08-11      113       12       12
2016-09-11      113        5       13