https://stackoverflow.com/questions/54051495/cross-operations-between-two-datafarames

In [1]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame(10*(2+np.random.randn(500, 3)), columns=list('ABC'))
df2 = pd.DataFrame(10*(2+np.random.randn(500, 3)), columns=list('CDA'))
df1.drop(df1.index[[1, 4, 284, 354, 498]], inplace=True)
df2.drop(df2.index[[0, 98, 159]], inplace=True)
df1.loc[2, 'B'] = np.nan
df1.loc[5, 'C'] = np.nan
df1.loc[3, 'A'] = np.nan
df2.loc[5, 'C'] = np.nan
df2.loc[1, 'D'] = np.nan
df2.loc[2, 'A'] = np.nan

In [2]:
df1.head()

           A          B          C
0  15.602446  19.178394  27.607407
2   3.001727        NaN   9.631051
3        NaN  37.007856  29.455232
5  32.527920  23.262784        NaN
6  11.421429   6.741664   8.416928

In [3]:
df2.head()

           C          D          A
1  16.824500        NaN  16.690351
2  13.410754   8.207212        NaN
3  15.554838  20.286988  17.755099
4  21.082750   6.288334  25.721329
5        NaN   6.698807  23.243012

df1_ = df1.copy()
df2_ = df2.copy()
df1_.columns = [col+'_df1' for col in df1_.columns]
df2_.columns = [col+'_df2' for col in df2_.columns]

In [9]:
# Merge the dataframes
merged_df = df1.merge(df2, right_index = True, left_index = True, how = 'outer')
# Create dataframes for each formula
final_df1 = pd.DataFrame(index = merged_df.index) # for this (1 - df1 / df2)
final_df2 = pd.DataFrame(index = merged_df.index) # for this ln(df1 / df2)
for column in merged_df.columns:
    # Get initial letter from the column names
    i = column[0]
    # filter only the columns that start with the same letter
    df_test = merged_df[merged_df.columns[merged_df.columns.str.startswith(i)]]
    #If only one column, add that to the dataframes
    if df_test.shape[1] == 1:
        final_df1 = final_df1.merge(df_test, right_index = True, left_index = True, how = 'outer')
        final_df2 = final_df2.merge(df_test, right_index = True, left_index = True, how = 'outer')
    #If two columns do the calculations
    else:
        final_df1.loc[:,i] = np.where((df_test[df_test.columns[0]].isnull())|(df_test[df_test.columns[1]].isnull()), 
        np.nan,  (1- df_test[df_test.columns[0]]) / df_test[df_test.columns[1]])
        final_df2.loc[:,i] = np.where((df_test[df_test.columns[0]].isnull())|(df_test[df_test.columns[1]].isnull()), 
        np.nan,  np.log(df_test[df_test.columns[0]] / df_test[df_test.columns[1]]))

#Adjust the names of the columns
final_df1.columns = final_df1.columns.str[0]
final_df2.columns = final_df2.columns.str[0]

print(final_df1.head(10), '\n', final_df2.head(10))

          A          B           C          D
0       NaN  19.178394         NaN        NaN
1       NaN        NaN         NaN        NaN
2       NaN        NaN   -0.643592   8.207212
3       NaN  37.007856   -1.829349  20.286988
4       NaN        NaN         NaN   6.288334
5 -1.356447  23.262784         NaN   6.698807
6 -0.701263   6.741664   -0.760309  21.690298
7 -1.192199   3.865241 -484.002349   9.450603
8 -0.765613  -4.302222   -0.223494  32.779025
9 -1.047573  33.219524   -8.041854  12.642497
           A          B         C          D
0       NaN  19.178394       NaN        NaN
1       NaN        NaN       NaN        NaN
2       NaN        NaN -0.331065   8.207212
3       NaN  37.007856  0.638500  20.286988
4       NaN        NaN       NaN   6.288334
5  0.336094  23.262784       NaN   6.698807
6 -0.263246   6.741664 -0.147551  21.690298
7  0.211454   3.865241  6.217334   9.450603
8 -0.218390  -4.302222 -1.356639  32.779025
9  0.076703  33.219524  2.120790  12.642497

/Users/jpinzon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in log