https://stackoverflow.com/questions/55839495/changing-the-color-of-part-of-the-text-a-pandas-dataframe-in-jupyter/55840120#55840120

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,5), columns=list('ABCDE'))

def highlight_vals(val, min=-0.5, max=0.5, color='green'):
    if min < val < max:
        return 'background-color: %s' % color
    else:
        return ''

display(df.style.applymap(highlight_vals, subset=['B', 'C', 'D']))

In [2]:
import pandas as pd
import colored
test = pd.DataFrame(['foo;bar;baz', 'foo', 'bar', 'baz'])
mk = lambda s: colored.bg('red') + s + colored.bg(100) if s in {'bar', } else s 
mark = lambda s: ';'.join(map(mk, s.split(';')))                    
# for i, t in test.iterrows():
#     print(';'.join(map(mark, t[0].split(';'))))
print(test.applymap(mark))
test.style.applymap(mark)

                                 0
0  foo;bar;baz
1                              foo
2          bar
3                              baz

In [3]:
test = pd.DataFrame(['foo;bar;baz', 'foo', 'bar', 'baz'])

In [4]:
test

             0
0  foo;bar;baz
1          foo
2          bar
3          baz

In [5]:
def highlight_vals_test(val, text = 'bar', color='red'):
    if text in val:
        return 'background-color: %s' % color
    else:
        return ''

display(test.style.applymap(highlight_vals_test))

In [6]:
import pandas as pd

df1 = [ 'i like to shop at store a.' , 'he likes to shop at the store b.', 'she is happy to shop at store c.', 'we want to shop at the store d.']
df2 = [ 'store a', 'store b', 'store c', 'store d' ]
df3 = [ 'like to', 'likes to shop', 'at store' , 'store a', 'we']

myDataSet = list(zip(df1,df2))
df = pd.DataFrame(data = myDataSet, columns=['df1', 'df2'])

def in_statements(val):
    for statement in df3:
        if statement in val:
            color = 'yellow'
            break
        else:
            color = 'black'
    return 'background-color: %s' % color

df = df.style.applymap(in_statements)

df

In [7]:
from colored import fg, bg, attr
print ('%s Hello World !!! %s' % (fg(1), attr(0)))

print ('%s%s Hello World !!! %s!!!' % (fg(1), bg(15), attr(0)))

 Hello World !!!
 Hello World !!! !!!

In [8]:
import re
def highlight_vals_test2(df, text = 'bar', color='red'):
    for i, val in enumerate(df[0]):
        print(i, val)
        df.loc[:,'colored'] = np.nan
        if text in val:
            text2 = '%s%s ' +text + ' %s' 
            string = re.sub(text, text2, val)
            new_s = (string % (fg(1), bg(15), attr(0)))
            print('here', df[0][i], new_s)
            df.loc[:,'colored'] = np.where(df[0]==val, new_s, df['colored'])

    return(df)
#     else:
#         return ''

highlight_vals_test2(test).style

0 foo;bar;baz
here foo;bar;baz foo; bar ;baz
1 foo
2 bar
here bar  bar
3 baz