https://stackoverflow.com/questions/55997382/how-do-i-modify-part-of-index-name-in-python-pandas

In [1]:
import pandas as pd

In [21]:
df = pd.read_clipboard()

In [23]:
df.index = df.index.astype(str).str.replace('low', 'down')
df

                            NUM  Npc     Value
OOF_Mic.Y9_down_of_XX  0.420697  Nil  0.000666
OOF_Mic.Y5_down_of_XX  0.420697  Nil  0.000666
OOF_Mic.Y7_down_of_XX  0.420697  Nil  0.000666

In [15]:
df1 = df.reset_index().rename(columns = {'index':'temp'})
df1.loc[:,'temp'] = df1.temp.astype(str).str.replace('low', 'down')
df1.set_index('temp')

                            NUM  Npc     Value
temp
OOF_Mic.Y9_down_of_XX  0.420697  Nil  0.000666
OOF_Mic.Y5_down_of_XX  0.420697  Nil  0.000666
OOF_Mic.Y7_down_of_XX  0.420697  Nil  0.000666