https://stackoverflow.com/questions/53843130/how-do-i-reshape-this-dataset-in-python-pandas

is_a  is_b  is_c  population infected
1     0     1     50         20
1     1     0     100        10
0     1     1     20         10

In [1]:
df = pd.read_clipboard()

In [2]:
df

   is_a  is_b  is_c  population  infected
0     1     0     1          50        20
1     1     1     0         100        10
2     0     1     1          20        10

In [9]:
df[df.is_a ==1].population.sum()

150

In [20]:
df.loc[:,'a_value'] = np.where(df.is_a == 1, df[df.is_a ==1].infected.sum()/df[df.is_a==1].population.sum(), df[df.is_a ==0].infected.sum()/df[df.is_a==0].population.sum())
df.loc[:,'b_value'] = np.where(df.is_a == 1, df[df.is_b ==1].infected.sum()/df[df.is_b==1].population.sum(), df[df.is_b ==0].infected.sum()/df[df.is_b==0].population.sum())
df.loc[:,'c_value'] = np.where(df.is_c == 1, df[df.is_c ==1].infected.sum()/df[df.is_c==1].population.sum(), df[df.is_c ==0].infected.sum()/df[df.is_c==0].population.sum())
df

   is_a  is_b  is_c  population  infected  a_value   b_value   c_value
0     1     0     1          50        20      0.2  0.166667  0.428571
1     1     1     0         100        10      0.2  0.166667  0.100000
2     0     1     1          20        10      0.5  0.400000  0.428571

In [19]:
df[['a_value',	'b_value','c_value']].T

                0         1         2
a_value  0.200000  0.200000  0.500000
b_value  0.166667  0.166667  0.400000
c_value  0.428571  0.100000  0.428571

   index  a_value
0      0      0.2
1      2      0.5

In [26]:
 np.where(df.is_a == 1, df[df.is_a ==1].infected.sum()/df[df.is_a==1].population.sum(), df[df.is_a ==0].infected.sum()/df[df.is_a==0].population.sum())

array([0.2, 0.2, 0.5])

In [79]:
dic_df = {}
for letter in ['a', 'b', 'c']: 
    dic_da = {}
    dic_da[0] = df[df['is_'+str(letter)] == 0].infected.sum()/df[df['is_'+str(letter)] == 0].population.sum()
    dic_da[1] = df[df['is_'+str(letter)] == 1].infected.sum()/df[df['is_'+str(letter)] == 1].population.sum()
    dic_df[letter] = dic_da
    dic_df
dic_df_ = pd.DataFrame(data = dic_df).T.reset_index().rename(columns= {'index':'feature'})
dic_df_

  feature    0         1
0       a  0.5  0.200000
1       b  0.4  0.166667
2       c  0.1  0.428571

# Other more straight forward response

In [70]:
df1=pd.wide_to_long(df,['is'],['population','infected'],j='feature',sep='_',suffix='\w+').reset_index()
df1

   population  infected feature  a_value   c_value   b_value  is
0          50        20       a      0.2  0.428571  0.166667   1
1          50        20       b      0.2  0.428571  0.166667   0
2          50        20       c      0.2  0.428571  0.166667   1
3         100        10       a      0.2  0.100000  0.166667   1
4         100        10       b      0.2  0.100000  0.166667   1
5         100        10       c      0.2  0.100000  0.166667   0
6          20        10       a      0.5  0.428571  0.400000   0
7          20        10       b      0.5  0.428571  0.400000   1
8          20        10       c      0.5  0.428571  0.400000   1

In [71]:
df1.groupby(['feature','is']).apply(lambda x : sum(x['infected'])/sum(x['population'])).unstack()

is         0         1
feature
a        0.5  0.200000
b        0.4  0.166667
c        0.1  0.428571