https://stackoverflow.com/questions/54268982/how-to-have-an-empty-first-row-in-pandas-dataframe

In [19]:
import pandas as pd
import numpy as np
df = pd.read_clipboard(header = ).rename(columns ={0:'col1'})
df

         col1   1                2
0  (df['Open]  <=  df['Close']+0.2

In [18]:
pd.DataFrame(np.insert(df.values, 5, values=['inserted'], axis=0)).rename(columns ={0:'col1'})

       col1
0       how
1        to
2      have
3        an
4     empty
5  inserted
6     first
7       row

In [21]:
df = pd.read_clipboard().rename(columns ={0:'col1'})
df

      Open    High      Low    Close      Volume
0  133.795  137.61  132.905  137.275  165822.375
1  133.795  137.61  132.905  133.994  165822.375
2  133.795  137.61  132.905  133.596  165822.375

In [27]:
df.loc[:,'new_column'] = np.where((df['Open'] <= df['Close'] + 0.2) & (df['Open'] >= df['Close'] - 0.2), 'In range', 'Not in range')

In [30]:
df[df['new_column'] == 'In range']

      Open    High      Low    Close      Volume new_column
1  133.795  137.61  132.905  133.994  165822.375   In range
2  133.795  137.61  132.905  133.596  165822.375   In range