https://stackoverflow.com/questions/53759505/pandas-dataframe-group-rows-based-on-specific-column/53760203#53760203

In [1]:
  P_id   S_id   Time
  20     A    15 
  30     B    50
  50     A    99 
  70     A    60

SyntaxError: invalid syntax (<ipython-input-1-add6566f9f96>, line 1)

In [2]:
import pandas as pd
df = pd.read_clipboard()

In [6]:
import pandas as pd
df2 = pd.DataFrame({'S_id': ['A', 'B']})
df2.loc[:,'P_id'] = ''
for letter in df2.S_id.unique():
    indx = df2.loc[df2['S_id']==letter].index.values
    df1 = df.sort_values(by = ['S_id' ,'Time'])
    array_values = list(df1[df1.S_id ==letter].P_id.values)#.astype(object)
    df2.at[indx[0], 'P_id'] = array_values
df2

  S_id          P_id
0    A  [20, 70, 50]
1    B          [30]

In [11]:
df.sort_values(['S_id','Time']) .groupby('S_id', sort=False)['P_id'].agg(lambda x: ','.join(x.astype(str))).reset_index()

  S_id      P_id
0    A  20,70,50
1    B        30

In [6]:
df

   P_id S_id  Time
0    20    A    15
1    30    B    50
2    50    A    99
3    70    A    60

In [9]:
df.Time.diff()

0     NaN
1    35.0
2    49.0
3   -39.0
Name: Time, dtype: float64