In [6]:
# FROM https://stackoverflow.com/questions/53556428/sorting-pandas-dataframe-vectorized-way/53556651#53556651
import pandas as pd
import numpy as np

In [42]:
df_input = pd.DataFrame([[1.7, 0.2,1], [0.4, 0.93,np.nan], [0.05, 0.96,1], [0.97, 0.68,np.nan]], columns=["A", "B","C"])
df_input = df_input.fillna(0)
df_input

      A     B    C
0  1.70  0.20  1.0
1  0.40  0.93  0.0
2  0.05  0.96  1.0
3  0.97  0.68  0.0

In [45]:
df2 = df_input.copy()
df2[:] = np.where(df2.rank(axis=1) > df2.shape[1] / 2, 1, -1)
df2

   A  B  C
0  1 -1  1
1  1  1 -1
2 -1  1  1
3  1  1 -1

In [40]:
df_input

   A  B  c
0  1 -1  1
1 -1  1  1
2 -1  1  1
3  1 -1  1
4  1  1  1