In [ ]:
https://stackoverflow.com/questions/53570725/inverse-score-in-python/53570905#53570905

In [32]:
import pandas as pd
import heapq


df = pd.DataFrame({'value': [54, 74, 71, 78, 12]})
print(df)
dfmin = df.min()[0]
print('min',dfmin)
dfmin2   = heapq.nsmallest(2, df.value)[1]
print('min2', dfmin2)
dfmax   = df.max()[0]
dfrange = dfmax - dfmin
score_value = (600-dfmin2)/dfrange
df.loc[:,'score'] = np.where(df['value'] == dfmin, 600, 
                             np.where(df.value == dfmax, 
                                      50, 
                                      600 - ((df.value - dfmin)* (1/score_value))))
print(df)

   value
0     54
1     74
2     71
3     78
4     12
min 12
min2 54
   value       score
0     54  594.923077
1     74  592.505495
2     71  592.868132
3     78   50.000000
4     12  600.000000

In [17]:
import heapq
heapq.nlargest(2, df.value)[1]

74

In [11]:
dfmin   = df.min()[0]
dfmax   = df.max()[0]
dfrange = dfmax - dfmin
score_value = (600-50)/dfrange
df.loc[:,'score'] = np.where(df['value'] == dfmin, 600, 
                             np.where(df.value == dfmax, 
                                      50, 
                                      600 - ((df.value - dfmin)* (1/score_value))))
df

   value   score
0     54  594.96
1     74  592.56
2     71  592.92
3     78   50.00
4     12  600.00

In [7]:
71 -12

8.333333333333334

In [8]:
600 - (59*(1/8.33))

592.9171668667467

In [32]:
59*8.33

491.47