https://stackoverflow.com/questions/54969074/python-3-remove-overlaps-in-table

In [1]:
import pandas as pd

id   hit from   to value
A   hit1    56  102 0.00085
B   hit2    89  275 0.00034
B   hit3    240 349 0.00034
C   hit4    332 480 3.40E-15
D   hit5    291 512 3.80E-24
D   hit6    287 313 0.00098
D   hit7    381 426 0.00098
D   hit8    287 316 0.0029
D   hit9    373 422 0.0029
D   hit10   514 600 0.0021

In [2]:
df = pd.read_clipboard()

In [54]:
df1 = df.copy()
df2 =  pd.DataFrame()
for i in df1.id.unique(): # For loop for each id in the dataframe
    df_ = df1[df1['id']==i].sort_values(by = 'from').reset_index(drop = True)    # Generates a new dataframe with only the rows for each id sorted by from
    if len(df_) <= 1:                                                          # If the new dataframe is less or equals to one in lenght, it is NOT modified
        df_ = df_
        df2 = pd.concat([df2, df_], 0)
    else:
        rows = len(df_)
        df_1 = df_.copy().reset_index(drop  = True)
        for row in range(rows):
            print(i, row, len(df_1))
            df_1 = df_1.tail(len(df_1)-1).reset_index(drop  = True)
            if len(df_1) <= 1:                                                          # If the new dataframe is less or equals to one in lenght, it is NOT modified
                df_1 = df_1
                df2 = pd.concat([df2, df_1], 0).reset_index(drop = True)
            elif df_1.empty == False:
                value_to = df_1[0:1]['to'][0]
                print('\t',i, row, value)
                df_2 = df_1[(df_1['from'] < value_to)|(df_1.index==0)]                        # For all other dataframes, it first check that all from values are less than the firsr value
                #df_2 = df_2[df_2['from'] > df_2['to'].shift(1)] 
                df_2 = df_2[df2['value'] == df2['value'].min()].drop_duplicates()
                # Remove all rows where the from value is less than the value in the to column previous row
                df2 = pd.concat([df2, df_2], 0, sort = False).reset_index(drop = True)
                # Puts all the results for each id in the df2 dataframe
    df2 = df2.drop_duplicates().reset_index(drop = True)
df2.reset_index(drop = True)
df2

B 0 2
B 1 1
D 0 6
	 D 0 426
D 1 5
	 D 1 426
D 2 4
	 D 2 426
D 3 3
	 D 3 426
D 4 2
D 5 1

/Users/jpinzon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/jpinzon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/Users/jpinzon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

  id    hit  from   to         value
0  A   hit1    56  102  8.500000e-04
1  B   hit3   240  349  3.400000e-04
2  C   hit4   332  480  3.400000e-15
3  D   hit7   381  426  9.800000e-04
4  D  hit10   514  600  2.100000e-03