https://stackoverflow.com/questions/55820646/pandas-rolling-apply-with-multiple-columns

In [1]:
import pandas as pd
import time
df = pd.DataFrame(data={'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]})
df2 = df.copy()
s = time.time()
df2.loc[:, 'mean1'] = df.sum(axis = 1).rolling(2).mean()
print(time.time() - s)
s = time.time()
df2.loc[:, 'mean2'] = df.rolling(2).mean().sum(axis = 1)
print(time.time() - s)
df2

0.012928009033203125
0.0039539337158203125

   a  b  mean1  mean2
0  1  5    NaN    0.0
1  2  6    7.0    7.0
2  3  7    9.0    9.0
3  4  8   11.0   11.0

In [2]:
s = time.time()
print(df[['a', 'b']].sum(axis = 1).rolling(2).mean())
print(time.time() - s)

0     NaN
1     7.0
2     9.0
3    11.0
dtype: float64
0.004669904708862305