In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer

table = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[3,np.nan, np.nan],
                  'C':[4,5,6]})
print(table, '\n')
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
table_means = pd.DataFrame(imp.fit_transform(table), columns = {'C','B','A'})
print(table_means)

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5
2  NaN  NaN  6

     A    C    B
0  1.0  3.0  4.0
1  2.0  3.0  5.0
2  1.5  3.0  6.0

In [2]:
# Alternative solution
def impute_missing_values(table):
    for column in table:
        table.loc[:,column] = np.where(table[column].isna(), table[column].mean(), table[column])
    return table

In [3]:
impute_missing_values(table)

     A    B    C
0  1.0  3.0  4.0
1  2.0  3.0  5.0
2  1.5  3.0  6.0