https://stackoverflow.com/questions/53805431/multiple-if-conditions-in-f-strings-and-generate-dynamic-text

In [6]:
raw_data = {'Sub1':['A','B','C','D','E'],
            'Sub2':['F','G','H','I','J'],
            'Sub3':['K','L','M','N','O'],
    'S_score1': [1, 0, 0, 6,0], 
    'F_score1' : [0, 1,0,0,0],
    'L_score1' : [1,2,3,0,4],
    'S_score2': [0, 1, 0, 6,0], 
    'F_score2' : [0, 1,0,0,0],
    'L_score2' : [1,2,3,0,4],
    'S_score3': [0, 1, 0, 6,0], 
    'F_score3' : [0, 1,0,0,0],
    'L_score3' : [1,2,3,0,4]}

df2 = pd.DataFrame(raw_data, columns = ['Sub1','Sub2','Sub3','S_score1', 'F_score1','L_score1','S_score2', 'F_score2','L_score2','S_score3', 'F_score3','L_score3'])

In [3]:
import re
letters = ['S', 'F', 'L']
for letter in letters:
    for row in range(0, len(df2)):
        df_ = df2[[letter+'_score1', letter+'_score2', letter+'_score3']].iloc[row:row+1,0:3]
        row_string = ''
        for col in df_.columns:
            if df_[col][row] >= 1:
                row_string = row_string + ', '+ str(df2.iloc[row][df_.columns.get_loc(col)])
            row_string = re.sub(r'^,', '', row_string)
        if row_string == '':
            df2.loc[row:,letter+'_text'] = 'You have not Scored any subject'
        else:
            df2.loc[row:,letter+'_text'] = 'You have scored on' + row_string
display(df2)

,Sub1,Sub2,Sub3,S_score1,F_score1,L_score1,S_score2,F_score2,L_score2,S_score3,F_score3,L_score3,S_text,F_text,L_text
0,A,F,K,1,0,1,0,0,1,0,0,1,You have scored on A,You have not Scored any subject,"You have scored on A, F, K"
1,B,G,L,0,1,2,1,1,2,1,1,2,"You have scored on G, L","You have scored on B, G, L","You have scored on B, G, L"
2,C,H,M,0,0,3,0,0,3,0,0,3,You have not Scored any subject,You have not Scored any subject,"You have scored on C, H, M"
3,D,I,N,6,0,0,6,0,0,6,0,0,"You have scored on D, I, N",You have not Scored any subject,You have not Scored any subject
4,E,J,O,0,0,4,0,0,4,0,0,4,You have not Scored any subject,You have not Scored any subject,"You have scored on E, J, O"

In [7]:
import re
def score_summary(df):
    letters = ['S', 'F', 'L']
    for letter in letters:
        for row in range(0, len(df)):
            df_ = df[[letter+'_score1', letter+'_score2', letter+'_score3']].iloc[row:row+1,0:3]
            row_string = ''
            for col in df_.columns:
                if df_[col][row] >= 1:
                    row_string = row_string + ', '+ str(df.iloc[row][df_.columns.get_loc(col)])
                row_string = re.sub(r'^,', '', row_string)
            if row_string == '':
                df.loc[row:,letter+'_text'] = 'You have not Scored any subject'
            else:
                df.loc[row:,letter+'_text'] = 'You have scored on' + row_string
            
    return df

In [37]:
import re
def score_summary1(df):
    letters = ['S', 'F', 'L']
    for letter in letters:
        for row in range(0, len(df)):
            df_ = df[[letter+'_score1', letter+'_score2', letter+'_score3']].iloc[row:row+1,0:3]
            row_string = ''
            for col in df_.columns:
                a = [ row_string + ', '+ str(df.iloc[row][df_.columns.get_loc(col)])]
                print(col, a)
                if df_[col][row] >= 1:
                    row_string = row_string + ', '+ str(df.iloc[row][df_.columns.get_loc(col)])
                row_string = re.sub(r'^,', '', row_string)
            if row_string == '':
                df.loc[row:,letter+'_text'] = 'You have not Scored any subject'
            else:
                df.loc[row:,letter+'_text'] = 'You have scored on' + row_string
            
    return df

In [38]:
score_summary1(df2)

S_score1 [', A']
S_score2 [' A, F']
S_score3 [' A, K']
S_score1 [', B']
S_score2 [', G']
S_score3 [' G, L']
S_score1 [', C']
S_score2 [', H']
S_score3 [', M']
S_score1 [', D']
S_score2 [' D, I']
S_score3 [' D, I, N']
S_score1 [', E']
S_score2 [', J']
S_score3 [', O']
F_score1 [', A']
F_score2 [', F']
F_score3 [', K']
F_score1 [', B']
F_score2 [' B, G']
F_score3 [' B, G, L']
F_score1 [', C']
F_score2 [', H']
F_score3 [', M']
F_score1 [', D']
F_score2 [', I']
F_score3 [', N']
F_score1 [', E']
F_score2 [', J']
F_score3 [', O']
L_score1 [', A']
L_score2 [' A, F']
L_score3 [' A, F, K']
L_score1 [', B']
L_score2 [' B, G']
L_score3 [' B, G, L']
L_score1 [', C']
L_score2 [' C, H']
L_score3 [' C, H, M']
L_score1 [', D']
L_score2 [', I']
L_score3 [', N']
L_score1 [', E']
L_score2 [' E, J']
L_score3 [' E, J, O']

,Sub1,Sub2,Sub3,S_score1,F_score1,L_score1,S_score2,F_score2,L_score2,S_score3,F_score3,L_score3,S_text,F_text,L_text
0,A,F,K,1,0,1,0,0,1,0,0,1,You have scored on A,You have not Scored any subject,"You have scored on A, F, K"
1,B,G,L,0,1,2,1,1,2,1,1,2,"You have scored on G, L","You have scored on B, G, L","You have scored on B, G, L"
2,C,H,M,0,0,3,0,0,3,0,0,3,You have not Scored any subject,You have not Scored any subject,"You have scored on C, H, M"
3,D,I,N,6,0,0,6,0,0,6,0,0,"You have scored on D, I, N",You have not Scored any subject,You have not Scored any subject
4,E,J,O,0,0,4,0,0,4,0,0,4,You have not Scored any subject,You have not Scored any subject,"You have scored on E, J, O"

In [3]:
import pandas as pd
import numpy as np

raw_data = {'Sub1':['A','B','C','D','E'],
            'Sub2':['F','G','H','I','J'],
            'Sub3':['K','L','M','N','O'],
    'S_score1': [1, 0, 0, 6,0], 
    'F_score1' : [0, 1,0,0,0],
    'L_score1' : [1,2,3,0,4],
    'S_score2': [0, 0, 0, 6,0], 
    'F_score2' : [0, 1,0,0,0],
    'L_score2' : [1,2,3,0,4],
    'S_score3': [0, 0, 0, 6,0], 
    'F_score3' : [0, 1,0,0,0],
    'L_score3' : [1,2,3,0,4]}

df2 = pd.DataFrame(raw_data, columns = ['Sub1','Sub2','Sub3','S_score1', 'F_score1','L_score1','S_score2', 'F_score2','L_score2','S_score3', 'F_score3','L_score3'])

def S_text(f):
    s_text = "You have scored on {}" .format(f['Sub1']) if f['S_score1'] >= 1 else "You have scored on {}" .format(f['Sub2'])
    return s_text

def F_text(f):
    f_text = "You have scored on {}" .format(f['Sub1']) if f['F_score1'] >= 1 else "You have scored on {}" .format(f['Sub2'])
    return f_text

def L_text(f):
    l_text = "You have scored on {}" .format(f['Sub1']) if f['L_score1'] >= 1 else "You have scored on {}" .format(f['Sub2'])
    return l_text

#df2['s_texte'] = df2.apply(S_text, axis=1)
#df2['f_text'] = df2.apply(F_text, axis=1)
#df2['l_text'] = df2.apply(L_text, axis=1)
df2

,Sub1,Sub2,Sub3,S_score1,F_score1,L_score1,S_score2,F_score2,L_score2,S_score3,F_score3,L_score3
0,A,F,K,1,0,1,0,0,1,0,0,1
1,B,G,L,0,1,2,0,1,2,0,1,2
2,C,H,M,0,0,3,0,0,3,0,0,3
3,D,I,N,6,0,0,6,0,0,6,0,0
4,E,J,O,0,0,4,0,0,4,0,0,4

In [ ]:
[df.columns.get_loc(c) for c in df.columns if c in cols]

In [5]:
import re
for row in range(0,len(df2)):
    row_string = ''
    df_ = df2[['S_score1', 'S_score2', 'S_score3']].iloc[row:row+1,0:3]
    for col in df_.columns:
        if df_[col][row] >= 1:
            row_string = row_string + ', '+ str(df2.iloc[row][df_.columns.get_loc(col)])
    row_string = re.sub(r'^,', '', row_string)
    if row_string == '':
        df2.loc[row:,'s_text'] = 'No score higher than 1' + row_string
    else:
        df2.loc[row:,'s_text'] = 'You have scored on:' + row_string
df2

,Sub1,Sub2,Sub3,S_score1,F_score1,L_score1,S_score2,F_score2,L_score2,S_score3,F_score3,L_score3,s_text
0,A,F,K,1,0,1,0,0,1,0,0,1,You have scored on: A
1,B,G,L,0,1,2,0,1,2,0,1,2,No score higher than 1
2,C,H,M,0,0,3,0,0,3,0,0,3,No score higher than 1
3,D,I,N,6,0,0,6,0,0,6,0,0,"You have scored on: D, I, N"
4,E,J,O,0,0,4,0,0,4,0,0,4,No score higher than 1

In [26]:
df = df2[['S_score1', 'S_score2', 'S_score3']]
cols = ['S_score1', 'S_score2', 'S_score3']
[(df2.iloc[rows][df.columns.get_loc(c)]) for c in df.columns if c in cols for rows in range(0, len(df2))]

#df2.iloc[row][df_.columns.get_loc(col)]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']

In [20]:
row

4

In [124]:
def sumita(x):
    
    return (x)

In [125]:
df2[['S_score1', 'S_score2', 'S_score3']].apply(lambda x: sumita(x), axis=1)

   S_score1  S_score2  S_score3
0         1         0         0
1         0         0         0
2         0         0         0
3         6         6         6
4         0         0         0

In [130]:
df2[['S_score1', 'S_score2', 'S_score3']].apply(lambda x: x.idxmax(), axis = 1)

0    S_score1
1    S_score1
2    S_score1
3    S_score1
4    S_score1
dtype: object

In [13]:
Cat_1 Cat_1 Cat_2 Cat_2
sub-cat_1  sub-cat_2 sub-cat_1 sub-cat_2 
metric_one 10         20            1          2
metric_two 15         10            3          4

SyntaxError: invalid syntax (<ipython-input-13-6e25f0ddee06>, line 1)

In [22]:
df_ = pd.read_clipboard(header=[0,1])

In [29]:
df_.reset_index()

        index     Cat_1               Cat_2
              sub-cat_1 sub-cat_2 sub-cat_1 sub-cat_2
0  metric_one        10        20         1         2
1  metric_two        15        10         3         4

In [ ]:
                     Cat_1    Cat_2         
metric_one sub-cat_1    10      1
           sub-cat_2    20      2
metric_two sub-cat_1    15      3
           sub-cat_2    10      4