<a href="https://colab.research.google.com/github/jpinzonc/example_smalltests/blob/master/Stackoverflow_01_17_logical_and.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://stackoverflow.com/questions/54246361/exclude-certain-values-when-checking-for-a-condition-with-pandas/54246762#54246762

In [1]:
import pandas as pd
import numpy as np

data = {'col1':['a##', 'c##', 'a##', 'c##', 'b##'], 'col2':['b##', 'd23', 'k##', 'b12', 'HO'], 'col3': ['HO', 'c##', 'z##', 'a12', 'z##']}

df = pd.DataFrame(data = data)

m = np.logical_and.reduce([[('##' in x) | (x=='HO') for x in df[c] ]for c in df.columns  ])

print(df, '\n\n',df[m])

  col1 col2 col3
0  a##  b##   HO
1  c##  d23  c##
2  a##  k##  z##
3  c##  b12  a12
4  b##   HO  z##

   col1 col2 col3
0  a##  b##   HO
2  a##  k##  z##
4  b##   HO  z##