https://stackoverflow.com/questions/53805431/multiple-if-conditions-in-f-strings-and-generate-dynamic-text

In [ ]:
raw_data = {'Sub1':['A','B','C','D','E'],
            'Sub2':['F','G','H','I','J'],
            'Sub3':['K','L','M','N','O'],
    'S_score1': [1, 0, 0, 6,0], 
    'F_score1' : [0, 1,0,0,0],
    'L_score1' : [1,2,3,0,4],
    'S_score2': [0, 1, 0, 6,0], 
    'F_score2' : [0, 1,0,0,0],
    'L_score2' : [1,2,3,0,4],
    'S_score3': [0, 1, 0, 6,0], 
    'F_score3' : [0, 1,0,0,0],
    'L_score3' : [1,2,3,0,4]}

df2 = pd.DataFrame(raw_data, columns = ['Sub1','Sub2','Sub3','S_score1', 'F_score1','L_score1','S_score2', 'F_score2','L_score2','S_score3', 'F_score3','L_score3'])

In [ ]:
import re
letters = ['S', 'F', 'L']
for letter in letters:
    for row in range(0, len(df2)):
        df_ = df2[[letter+'_score1', letter+'_score2', letter+'_score3']].iloc[row:row+1,0:3]
        row_string = ''
        for col in df_.columns:
            if df_[col][row] >= 1:
                row_string = row_string + ', '+ str(df2.iloc[row][df_.columns.get_loc(col)])
            row_string = re.sub(r'^,', '', row_string)
        if row_string == '':
            df2.loc[row:,letter+'_text'] = 'You have not Scored any subject'
        else:
            df2.loc[row:,letter+'_text'] = 'You have scored on' + row_string
display(df2)

In [ ]:
import re
def score_summary(df):
    letters = ['S', 'F', 'L']
    for letter in letters:
        for row in range(0, len(df)):
            df_ = df[[letter+'_score1', letter+'_score2', letter+'_score3']].iloc[row:row+1,0:3]
            row_string = ''
            for col in df_.columns:
                if df_[col][row] >= 1:
                    row_string = row_string + ', '+ str(df.iloc[row][df_.columns.get_loc(col)])
                row_string = re.sub(r'^,', '', row_string)
            if row_string == '':
                df.loc[row:,letter+'_text'] = 'You have not Scored any subject'
            else:
                df.loc[row:,letter+'_text'] = 'You have scored on' + row_string
            
    return df

In [ ]:
import re
def score_summary1(df):
    letters = ['S', 'F', 'L']
    for letter in letters:
        for row in range(0, len(df)):
            df_ = df[[letter+'_score1', letter+'_score2', letter+'_score3']].iloc[row:row+1,0:3]
            row_string = ''
            for col in df_.columns:
                a = [ row_string + ', '+ str(df.iloc[row][df_.columns.get_loc(col)])]
                print(col, a)
                if df_[col][row] >= 1:
                    row_string = row_string + ', '+ str(df.iloc[row][df_.columns.get_loc(col)])
                row_string = re.sub(r'^,', '', row_string)
            if row_string == '':
                df.loc[row:,letter+'_text'] = 'You have not Scored any subject'
            else:
                df.loc[row:,letter+'_text'] = 'You have scored on' + row_string
            
    return df

In [ ]:
score_summary1(df2)

In [ ]:
import pandas as pd
import numpy as np

raw_data = {'Sub1':['A','B','C','D','E'],
            'Sub2':['F','G','H','I','J'],
            'Sub3':['K','L','M','N','O'],
    'S_score1': [1, 0, 0, 6,0], 
    'F_score1' : [0, 1,0,0,0],
    'L_score1' : [1,2,3,0,4],
    'S_score2': [0, 0, 0, 6,0], 
    'F_score2' : [0, 1,0,0,0],
    'L_score2' : [1,2,3,0,4],
    'S_score3': [0, 0, 0, 6,0], 
    'F_score3' : [0, 1,0,0,0],
    'L_score3' : [1,2,3,0,4]}

df2 = pd.DataFrame(raw_data, columns = ['Sub1','Sub2','Sub3','S_score1', 'F_score1','L_score1','S_score2', 'F_score2','L_score2','S_score3', 'F_score3','L_score3'])

def S_text(f):
    s_text = "You have scored on {}" .format(f['Sub1']) if f['S_score1'] >= 1 else "You have scored on {}" .format(f['Sub2'])
    return s_text

def F_text(f):
    f_text = "You have scored on {}" .format(f['Sub1']) if f['F_score1'] >= 1 else "You have scored on {}" .format(f['Sub2'])
    return f_text

def L_text(f):
    l_text = "You have scored on {}" .format(f['Sub1']) if f['L_score1'] >= 1 else "You have scored on {}" .format(f['Sub2'])
    return l_text

#df2['s_texte'] = df2.apply(S_text, axis=1)
#df2['f_text'] = df2.apply(F_text, axis=1)
#df2['l_text'] = df2.apply(L_text, axis=1)
df2

In [ ]:
[df.columns.get_loc(c) for c in df.columns if c in cols]

In [ ]:
import re
for row in range(0,len(df2)):
    row_string = ''
    df_ = df2[['S_score1', 'S_score2', 'S_score3']].iloc[row:row+1,0:3]
    for col in df_.columns:
        if df_[col][row] >= 1:
            row_string = row_string + ', '+ str(df2.iloc[row][df_.columns.get_loc(col)])
    row_string = re.sub(r'^,', '', row_string)
    if row_string == '':
        df2.loc[row:,'s_text'] = 'No score higher than 1' + row_string
    else:
        df2.loc[row:,'s_text'] = 'You have scored on:' + row_string
df2

In [ ]:
df = df2[['S_score1', 'S_score2', 'S_score3']]
cols = ['S_score1', 'S_score2', 'S_score3']
[(df2.iloc[rows][df.columns.get_loc(c)]) for c in df.columns if c in cols for rows in range(0, len(df2))]

#df2.iloc[row][df_.columns.get_loc(col)]

In [ ]:
row

In [ ]:
def sumita(x):
    
    return (x)

In [ ]:
df2[['S_score1', 'S_score2', 'S_score3']].apply(lambda x: sumita(x), axis=1)

In [ ]:
df2[['S_score1', 'S_score2', 'S_score3']].apply(lambda x: x.idxmax(), axis = 1)

In [ ]:
Cat_1 Cat_1 Cat_2 Cat_2
sub-cat_1  sub-cat_2 sub-cat_1 sub-cat_2 
metric_one 10         20            1          2
metric_two 15         10            3          4

In [ ]:
df_ = pd.read_clipboard(header=[0,1])
#df_.columns= ['_'.join(col) for col in df_.columns]

In [ ]:
df_['col'] = 1
df_

In [ ]:
df_.columns.levels[0][0]

In [ ]:
df_1 = df_[['Cat_1_sub-cat_1']].rename(columns={'Cat_1_sub-cat_1':'Cat_1'}).reset_index()
df_1.loc[:,'new_col'] = 'sub-cat_1'
df_1 = df_1.set_index(['index', 'new_col'])
df_2 = df_[['Cat_2_sub-cat_1']].rename(columns={'Cat_2_sub-cat_1':'Cat_2'}).reset_index()
df_2.loc[:,'new_col'] = 'sub-cat_2'
df_2 = df_2.set_index(['index', 'new_col'])
#display(df_1, df_2)
#df1_ = df_1.merge(df_2, on = ['index', 'new_col'], how = 'left')
df1_ = pd.concat([df_1, df_2], 0, sort = True)

In [ ]:
df1_

In [ ]:
                     Cat_1    Cat_2         
metric_one sub-cat_1    10      1
           sub-cat_2    20      2
metric_two sub-cat_1    15      3
           sub-cat_2    10      4

In [ ]:
df_1 = df_1.reset_index(drop=True)
df_1.loc[:,'CAT2'] = 'this'
df_1.loc['CAT2'] = 'That'
df_1

In [ ]:
name  type    count
x     a       32
x     b       1111
x     c       4214

In [28]:
df_ = pd.read_clipboard()
#df_.columns= ['_'.join(col) for col in df_.columns]
df_ = df_.reset_index()
df_

      level_0    level_1  Cat_1  Cat_2
0  metric_one  sub-cat_1     10    1.0
1   sub-cat_2         20      2    NaN
2  metric_two  sub-cat_1     15    3.0
3   sub-cat_2         10      4    NaN

In [30]:
df_.groupby('level_1').Cat_1.count()/df_.Cat_1.sum()

level_1
10           0.032258
20           0.032258
sub-cat_1    0.064516
Name: Cat_1, dtype: float64

In [27]:
df_

      level_0    level_1  Cat_1  Cat_2
0  metric_one  sub-cat_1     10    1.0
1   sub-cat_2         20      2    NaN
2  metric_two  sub-cat_1     15    3.0
3   sub-cat_2         10      4    NaN