In [ ]:
https://stackoverflow.com/questions/53570725/inverse-score-in-python/53570905#53570905

In [1]:
import pandas as pd

df = pd.DataFrame({'value': [54, 74, 71, 78, 12]})
df

   value
0     54
1     74
2     71
3     78
4     12

In [2]:
600 - df

   value
0    546
1    526
2    529
3    522
4    588

In [18]:
df.value == dfmin

ValueError: Can only compare identically-labeled Series objects

In [30]:
dfmin   = df.min()[0]
dfmax   = df.max()[0]
dfrange = dfmax - dfmin
score_value = (600-50)/dfrange
df.loc[:,'score'] = np.where(df['value'] == dfmin, 600, 
                             np.where(df.value == dfmax, 
                                      50, 
                                      df.value*score_value))
df

   value       score
0     54  450.000000
1     74  616.666667
2     71  591.666667
3     78   50.000000
4     12  600.000000

In [31]:
71 -12

59

In [10]:
71-12

59

In [32]:
59*8.33

491.47